@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&family=Squada+One&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
	font-family: 'Poppins', 'Lucida Sans', Verdana, sans-serif;
	text-decoration: none;
	color: #20331B;
}

/* header */

body{
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	background-color: #eee;
    overflow-x: hidden;
}

#box-nav-bar{
    width: 100vw;
	min-height: 13vh;
    padding: 20px;
    display: inline-flex;
	align-items: center;
    justify-content: space-between;
	position: sticky;
	top: 0;
	background-color: transparent;
	backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    z-index: 10;
}
/* logo */
#box-logo a{
	width: 150px;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;

}

#img-logo{
	width: 45px;
	border-radius: 50%;
}

#txt-logo{
	font-family: 'Squada One', cursive;
	font-size: 25px;
}

/* nav bar */
#nav-bar{
	width: 420px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

.pages-bar{
	width: 100px;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	border: 1px solid transparent;
}

.pages-bar:hover{
	border: 1px solid #fff;
	box-shadow: 3px 3px 3px rgb(0,0,0, .1),
				-5px -5px 5px rgb(255,255,255, .3);
}

.pages-bar:active{
	box-shadow: 5px 5px 5px rgb(0,0,0, .1),
				-5px -5px 5px rgb(255,255,255, .3),
				inset 3px 3px 3px rgb(0,0,0, .1),
				inset -5px -5px 5px rgb(255,255,255, .3);
}

/* barra de rolagem */
*{
  scrollbar-width: thin;
  scrollbar-color: rgba(153, 153, 153, 0.548) rgba(100, 100, 100, 0.733);
}
  
*::-webkit-scrollbar {
  width: 7px;
}
  
*::-webkit-scrollbar-track {
  background: #ffffff00;
}
  
*::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border-radius: 20px;
  border: 3px solid rgba(255, 166, 0, 0);
}

/* background */
section .color{
    position: absolute;
    filter: blur(150px);
}
section .color:nth-child(1){
    top: 0;
    left: -100px;
    width: 60%;
    height: 50%;
    position: fixed;
    background: #b39f7a;
}
section .color:nth-child(2){
    bottom: 10%;
    left: 20%;
    width: 35%;
    height: 50%;
    position: fixed;
    background: #FFDAB9;
}
section .color:nth-child(3){
    bottom: 15%;
    right: 0;
    width: 70%;
    height: 20%;
    position: fixed;
    background: #c16512;
}
.box{
    position: relative;
}
.container{
    position: relative;
    width: 90%;
    min-height: 350px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content:space-evenly;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

/* content */

#container{
	min-height: 84vh;
}
*:any-link{
  text-decoration: none;
}



#marcalogo{
	text-align: center;
    border-radius: 15px;
    border: 3px solid rgba(255, 166, 0, 0);
    margin: 20px;
}



#trezentos{
	width: 75%;
    border-radius: 15px;
    border: 3px solid rgba(255, 166, 0, 0);
    margin: 20px;
}



/* footer */


#box-footer{
	min-height: 100px;
    width: 100vw;
	padding: 30px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	background-color: #888888a6;
    margin-top: 30px;
    z-index: 1;
}

#dev-info p{
	color: #f2ddcc;
    display: inline;

}
#dev-info{
    display: flex;
    flex-direction: row;
    
}

.social-links{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}
