a:any-link{
    text-decoration: none;
}
body{
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;/*pesquisar*/
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 15px;
}

.form h2{
    position: relative;
    color: #797979;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
}

.form .inputBox{
    width: 100%;
    margin-top: px;
}
.form .inputBox input{
    margin: 5px;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #797979;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.form .inputBox input::placeholder{
    color: #797979;
}
.form .inputBox input[type="submit"]{
    background: #ffff;
    color: #666;
    max-width: 100px;
    cursor:pointer;
    margin-bottom: 20px;
    font-weight: 600;
    padding: 16px;
}
.form .inputBox input[type="submit"]:hover{
    background: #c7e5fc;
}
.forget{
    margin-top: 5px;
    color: #666;
    margin-bottom: 20px;
}
.forget a{
    color:#66666688;
    font-weight: 600;
}
.forget a:hover{
    color: #000000;
}

.form .inputBox #cadastrar{
    background: #ffff;
    color: #666;
    max-width: 150px;
    cursor:pointer;
    margin-bottom: 20px;
    font-weight: 600;
    padding: 16px;
    
    
}

.form .inputBox #cadastrar:hover{
    background: #c7e5fc;
}

#fis_jur{
    text-align: center;
    margin: 20px 0 35px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}

#fis_jur button{
    padding: 7px;
    background: #a8a8a8;
    border-radius: 15px;
}
#fis_jur button:hover{
    background: #c7e5fc;

}
